*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eea300;
}

.wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.descr{
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

#days{
    width: 14vw;
    height: 24vh;
    border: 2px solid;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center
    

}
#hours{
    width: 14vw;
    height: 24vh;
    border: 2px solid;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center
    

}
#minutes{
    width: 14vw;
    height: 24vh;
    border: 2px solid;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center
    

}
#seconds{
    width: 14vw;
    height: 24vh;
    border: 2px solid;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}

.text{
    text-align: center;
    margin-top: 40px;
    color: #b120f8;
    font-size: 40px;
    font-weight: 700;
}

.blockForMsg{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn{
    width: 200px;
    height: 70px;
    color: #b120f8;
    border: 2px, solid, black;
    font-size: 30px;
}

.block{
    position: relative;
    width: 550px;
    height: 100px;
    overflow: hidden;
}

.textForMyLovelyHunny{
    position: absolute;
    top: 0;
    left: -100%;
    font-size: 30px;
    color: rgb(255, 0, 106);
    text-align: center;
}

.activeMsg{
    position: absolute;
    left: 0;
    transition: 1s;
}


